{% load static %}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>Sign Up</title>
</head>

<body>
    <div class="container">
        <div class="judul">
            Create Your Account
        </div>
        <br>

        <div class="isi">
            <form method="POST">
                <div class="form-group">
                   {% csrf_token %}
                   <label>Username:</label>
                   <input name="Username" id="Username" type="text" required>
                </div>
                <br>
                <div class="form-group">
                    <label>Password: </label>
                    <input name="Password" id="Password" type="password" required>
                </div>
                <br>
                <div class="form-group">
                  <input type="submit" value="Create Account" id="log-in" class="btn btn-warning" name="signup">
                    {% for i in messages %}
                    {{ i }}
                    {% endfor %}
                </div>
              </form>
        </div>
    </div>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</body>