{% load static %}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>Hello {{ user.username }}! </title>
</head>

<body>
    <div class="judul">
        Hello {{ user.username }}!
    </div>

    <div class="isi">
        {% for i in messages %}
            {{ i }}
        {% endfor %}
            <br>
            <a href="{% url 'story10:logout' %}">
            <input type="submit" value="Log Out" class="btn btn-danger">
            </a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</body>