{% load static %}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>Calmeryan's Profile</title>
</head>

<body>
    <div class="container">
        <div class="judul">
            Calmeryan's Profile
            <a href="{% url 'story9' %}"><button>story9</button></a>
            <a href="{% url 'story10' %}"><button name="btn-story10">story10</button></a>
        </div>
    
    <div class="accord">
    <ul>
        <li>
            <button onclick="up()" name="up1"><img class="atas"></button>
            <button onclick="down()" name="down1"><img class="bawah"></button>
            <button class="accordion judul-accord" name="aktivitas">Aktivitas</button>
            
            <div class="panel">
                <div class="isi-accord">
                    <p>Belajar</p>
                    <p>Bermain</p>
                    <p>Beristirahat</p>
                </div>
            </div>
        </li>
        
        <li>
            <button onclick="up()" name="up2"><img class="atas"></button>
            <button onclick="down()" name="down2"><img class="bawah"></button>
            <button class="accordion judul-accord" name="pengalaman">Pengalaman</button>
            
            <div class="panel isi-accord">
                <p>Sekolah BEM Fasilkom Depor</p>
                <p>Panitia PERAK Bis-Dev</p>
                <p>Panitia Compfest Sponsorship</p>
            </div>
        </li>

        <li>
            <button onclick="up()" name="up3"><img class="atas"></button>
            <button onclick="down()" name="down3"><img class="bawah"></button>
            <button class="accordion judul-accord" name="prestasi">Prestasi</button>
            
            <div class="panel isi-accord">
                <p>Peringkat 3 Nilai UN tertinggi di SD Tunas Karya 2 tahun 2013</p>
            </div>
        </li>

        <li>
            <button onclick="up()" name="up4"><img class="atas"></button>
            <button onclick="down()" name="down4"><img class="bawah"></button>
            <button class="accordion judul-accord" name="hobi">Hobi</button>
            
            <div class="panel isi-accord">
                <p>Makan</p>
                <p>Main games</p>
                <p>Streaming Youtube</p>
            </div>
        </li>
    </ul>
    </div>
    </div>


    <script>
        $('.button-up').click(function(){
            var thisAccordion = $(this).parent().parent().parent();
            thisAccordion.insertBefore(thisAccordion.prev());
        })

        $('.button-down').click(function(){
            var thisAccordion = $(this).parent().parent().parent();
            thisAccordion.insertAfter(thisAccordion.next());
        })
    </script>
    <script src="{% static 'jquery-3.5.0.min.js' %}"></script>
    <script src="{% static 'accord.js' %}"></script>
</body>