body{
    background-image: url(https://wallpaperplay.com/walls/full/3/3/d/65912.jpg);
}

.accordion {
    background-color: rgb(136, 136, 136);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.6s;
}
  
.active, .accordion:hover {
    background-color: rgb(79, 126, 139);
}
  
.panel {
    padding: 0 18px;
    display: none;
    background-color: rgb(141, 153, 168);
    overflow: hidden;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.container{
    margin-top: 70px;
    margin-left: 130px;
    margin-right: 130px;
}

.judul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.judul-accord{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.isi{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.atas{
    content: url(https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/up-top-arrow-512.png);
    width: 15px;
    height: 15px;
}

.bawah{
    content: url(https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/down-bottom-arrow-128.png);
    width: 15px;
    height: 15px; 
}



