{% load static %}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>Story 9</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="{% static 'story9.js' %}"></script>
</head>

<body>
    <div class="container">
        <div class="judul">
            Daftar Buku
        </div>
        <br>
        <div class="input">
            <input type="text" id="input" placeholder="Cari Buku.." title="Type in a name">
        </div>

        <div class="isi">
            <table id="demo" class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle">No.</th>
                        <th scope="col" class="align-middle">Cover</th>
                        <th scope="col" class="align-middle">Title</th>
                        <th scope="col" class="align-middle">Authors</th>
                        <th scope="col" class="align-middle">Publisher</th>
                        <th scope="col" class="align-middle">Published Date</th>
                        <th scope="col" class="align-middle">Likes</th>
                    </tr>
                </thead>
                <tbody id="isi"></tbody>
            </table>
        </div>
    </div>

    
</body>
